
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* se define el tipo de letra con google fonts para todo el proyecto */
body {
    font-family: "lato",sans-serif;
}


/* definicion de colores del nav */
.nav-link {
    color: white;
}
/* se deja el navbar de un color parecido al cielo para no perder vision del navbar cuando se baja la paguina, en un principio se dejó transparente con bg-none pero se optó por esta última opción*/
 .navbar {
  background-color: #2ea8aa;
}

/* se unifoma el tamaño de las imagenes de las cartas para que todas queden del mismo tamaño*/
.card-img-top {
    aspect-ratio: 16 / 9; 
    width: 100%;
    object-fit: cover;
    display: block;
  }

  /* se define fondo y olor de texto en cartas */
  #bg {
    background-color: cyan;
    color: white;
  }